<%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-12">
      Your order has been processed. You will receive an email to download your products shortly. <br>
      Please also verify your <em>spam</em> folder in case you have not received it.<br>
      <em>If you have any problem or question, please contact us : <%= config.contactEmail %></em>

    </div>
  </div>
</div>
<%- include('./partials/footer') %>